/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

html {
  background: var(--bg-primary);
  transition: all 300ms ease;
}

body {
  color: var(--text-primary);
  font-family: "Fira Mono", monospace;
}

a {
  color: var(--text-link);
}