/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";
@import "../styles/variables";

@font-face {
  font-family: "Fira Mono";
  src: url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700");
  font-display: swap;
}

.text-primary {
  color: $textPrimary;
}

html {
  background: $backgroundPrimary;
  transition: all 300ms ease;
}

body {
  color: $textPrimary;
  font-family: "Fira Mono", monospace;
  @apply p-4;
}

a {
  color: $textLink;
}

@mixin borderForm {
  border-color: $textPrimary;
  border-width: 1px;
  border-radius: 5px;
}

form {
  input,
  textarea {
    background: $backgroundPrimary;
    @include borderForm();
  }

  button {
    background: $textPrimary;
    color: $backgroundPrimary;
    @include borderForm();
  }
}
