/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";
@import "../styles/variables";

.text-primary {
  color: $textPrimary;
}

html {
  background: $backgroundPrimary;
}

body {
  color: $textPrimary;
  font-family: "Fira Mono", monospace;
}

a {
  color: $textLink;
}
