@mixin marginBlock($marginBlock) {
  margin-block-start: $marginBlock !important;
  margin-block-end: $marginBlock !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}
@mixin header($fontSize, $marginBlock) {
  display: block !important;
  font-size: $fontSize !important;
  @include marginBlock($marginBlock);
  font-family: "Merriweather", monospace !important;
}

.markdown {
  h1 {
    @include header(2em, 0.67em);
  }
  h2 {
    @include header(1.75em, 0.83em);
  }
  h3 {
    @include header(1.17em, 1em);
  }
  p {
    @include marginBlock(1em);
    display: block !important;
    text-align: justify;
    line-height: 1.8rem;
  }
  img {
    @apply rounded-lg;
  }
  blockquote{
    padding: 10px;
    border-left: solid var(--text-secondary);
    background-color: var(--bg-inset);
  }
}
